<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yi.service.logic.UserMapper">

    <resultMap type="com.yi.service.logic.UserVo" id="UserVo" autoMapping="false">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="others" column="others"/>

    </resultMap>

    <insert id="saveUser" parameterType="com.yi.service.logic.UserVo" >
          insert into user_tbl(id,user_name,others)
          values(#{id},#{userName},#{others})
    </insert>

</mapper>